@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  font-family: "DM sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM sans", sans-serif;
}

.ellipsis-this {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-hover-service:hover .ellipsis-this {
  position: absolute;
  background-color: white;
  display: flex;
  top: 1.5rem;
  scroll-behavior: smooth;
  width: 18.688rem;
  height: 10rem; /* 160px */
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow-y: auto;
  text-overflow: ellipsis;
  z-index: 9;
}

.ellipsis-this::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.ellipsis-this::-webkit-scrollbar-thumb {
  background: rgba(0, 133, 111, 1);
}

.ellipsis-this::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
