@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  font-family: "DM sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM sans", sans-serif;
}

.ellipsis-this {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-this:hover {
  position: absolute;
  background-color: white;
  display: flex;
  top: 1rem;

  width: 19.375rem;
  height: 10rem; /* 160px */
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow-y: auto;
  text-overflow: ellipsis;
  z-index: 9;
}
