@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  font-family: "DM sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 133, 111, 1);
}

body::-webkit-scrollbar-track {
  background: #dce9e2;
}

/* Cards do services */
.ellipsis-this::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.ellipsis-this::-webkit-scrollbar-thumb {
  background: rgba(0, 133, 111, 1);
}

.ellipsis-this {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-hover-service:hover .ellipsis-this {
  position: absolute;
  background-color: white;
  display: flex;
  top: 1.5rem;
  scroll-behavior: smooth;
  width: 18.688rem;
  height: 10rem; /* 160px */

  overflow-y: auto;

  z-index: 9;
}

.ellipsis-this::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.scroll {
  background: rgba(0, 133, 111, 1) !important;
  top: 0;
  color: white;
}

.scroll a {
  color: white;
}

.scroll li:hover {
  border-color: white;
}

.menu-mobile-opened {
  background: rgba(0, 133, 111, 1) !important;
  color: white;
}

.button-contact-top {
  border-color: #fff;
  color: #fff;
}

.menu-web-active {
  visibility: hidden;
}

@media screen and (min-width: 1023px) {
  .menu-mobile-active {
    visibility: hidden;
  }
  .menu-web-active {
    visibility: visible;
  }
}

.back-to-top-show {
  visibility: visible;
}
